﻿@{
	ViewData["Title"] = "Access Denied";
}


<div class="text-center text-danger my-5">
	<h3 class="display-3">
		<i class="fa fa-solid fa-bug-slash"></i>
		<br />
		@ViewData["Title"]
	</h3>
	<p class="text-danger">You do not have access to this resource.</p>

</div>

<div class="text-center">
	<p class="lead">
		Sorry, you do not have permission to access this page. Please get in touch with system administrator.
	</p>
</div>