@model MovieViewModelForInsertion

<div class="text-center">
	<div class="display-6">Create</div>
</div>

@* @section styles {
	<link rel="stylesheet" href="~/css/MultSelectDropDown.css" />
} *@

<form method="post" asp-action="Create" enctype="multipart/form-data">
	@* enctype="multipart/form-data" *@
	@*dosyayi formla beraber post etmek icin enctype kullanılır*@
	<div class="row">
		<div class="col-md-4">
			<div class="form-group my-3">
				<label>Select Actors:</label>
				<select asp-for="SelectedActorIds" id="actors" class="form-control" asp-items="@(new SelectList(Model.Actors, "Id", "FullName"))" multiple></select>
				<a class="btn btn-primary btn-sm my-2" asp-controller="Actors" asp-action="Create">Create Actor</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group my-3">
				<label asp-for="DirectorId" class="control-label">Director:</label>
				<select asp-for="DirectorId" class="form-control" asp-items="ViewBag.DirectorId"></select>
				<a class="btn btn-primary btn-sm my-2" asp-controller="Directors" asp-action="Create">Create Director</a>
			</div>

		</div>
		<div class="col-md-8">
			<div class="text-danger" asp-validation-summary="All"></div>

			@* <select asp-for="ActorIds" asp-items="ViewBag.Actors" class="form-control" multiple></select> *@

			<div class="form-group my-3">
				<label asp-for="OriginalTitle"></label>
				<input asp-for="OriginalTitle" class="form-control" />
			</div>

			<div class="form-group my-3">
				<label asp-for="Score"></label>
				<input asp-for="Score" class="form-control" />
			</div>

			<div class="form-group my-3">
				<label asp-for="ReleaseDate"></label>
				<input asp-for="ReleaseDate" class="form-control" />
			</div>
			<div class="form-group my-3">
				<label asp-for="Plot"></label>
				<input asp-for="Plot" class="form-control" />
			</div>

			<div class="form-group my-3">
				<label asp-for="PosterPath"></label>
				<input type="file" name="file" class="form-control" />
			</div>

			<div class="form-group my-3">
				<div class="btn-group">
					<button class="btn btn-primary" type="submit">
						<i class="fa-regular fa-floppy-disk"></i>
						Save
					</button>

					<a class="btn btn-outline-primary" asp-controller="Movies" asp-action="Index">
						<i class="fa fa-list"></i>
						Movies
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			@*burada genre seciyorduk, artik create ederken degil update ederken secilmesini istiyorum*@
		</div>

	</div>
</form>

@section scripts {
	<script src="~/js/MultSelectDropDown.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			if (typeof MultiSelectTag !== 'undefined') {
				new MultiSelectTag('actors', {
					rounded: true,    // default true
					shadow: true,      // default false
					placeholder: 'Search',  // default Search...
					tagColor: {
						textColor: '#327b2c',
						borderColor: '#92e681',
						bgColor: '#eaffe6',
					},
					onChange: function (values) {
						console.log(values);
					}
				});
			} else {
				console.error("MultiSelectTag is not defined");
			}
		});
	</script>
}
