html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*@media (max-width: 768px) {*/ /* Küçük ekranlar için */
    /*.col-md-4 {
        width: 50%;*/ /* Ýki sütun */
    /*}
}

@media (min-width: 768px) and (max-width: 992px) {*/ /* Orta ekranlar için */
    /*.col-md-4 {
        width: 33.3333%;*/ /* Üç sütun */
    /*}
}

@media (min-width: 992px) {*/ /* Büyük ekranlar için */
    /*.col-md-4 {
        width: 25%;*/ /* Dört sütun */
    /*}
}*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.long-text {
    word-wrap: break-word; /* Uzun kelimeleri satýr sonuna kadar kýrpar */
    white-space: normal; /* Boþluklarý ve dize kesmeleri korur, metni yeni satýrlara böler */
}

.table th, .table td {
    max-width: 200px; /* Hücrelerin maksimum geniþliðini ayarlar */
    overflow: hidden; /* Hücrenin dýþýna taþan içeriði gizler */
    text-overflow: ellipsis; /* Hücrenin dýþýna taþan içeriði keser ve üç nokta (...) ile gösterir */
}