@model MovieViewModel

<div class="text-center">
	<div class="display-6">Create</div>
</div>

<form method="post" asp-action="Create" enctype="multipart/form-data">
	@*dosyayi formla beraber post etmek icin enctype kullanılır*@

	<div class="text-danger" asp-validation-summary="All"></div>

	@* <div class="form-group my-3">
		<label asp-for="ActorIds"></label>
		<select class="form-control" asp-for="ActorIds" multiple>
			@foreach (var actorNames in Model.ActorsByIdAndNames)
			{
				<option value="@actorNames.Id">@actorNames.FullName</option>
			}
		</select>
	</div> *@

	
	<select asp-for="ActorIds" asp-items="ViewBag.Actors" class="form-control" multiple></select>



	<div class="form-group my-3">
		<label asp-for="OriginalTitle"></label>
		<input asp-for="OriginalTitle" class="form-control" />
	</div>

	<div class="form-group my-3">
		<label asp-for="Score"></label>
		<input asp-for="Score" class="form-control" />
	</div>

	<div class="form-group my-3">
		<label asp-for="ReleaseDate"></label>
		<input asp-for="ReleaseDate" class="form-control" />
	</div>
	<div class="form-group my-3">
		<label asp-for="Plot"></label>
		<input asp-for="Plot" class="form-control" />
	</div>

	<div class="form-group my-3">
		<label asp-for="PosterPath"></label>
		<input type="file" name="file" class="form-control" />
	</div>

	<div class="form-group my-3">
		<div class="btn-group">
			<button class="btn btn-primary" type="submit">
				<i class="fa-regular fa-floppy-disk"></i>
				Save
			</button>

			<a class="btn btn-outline-primary" asp-controller="Product" asp-action="Index">
				<i class="fa fa-list"></i>
				Products
			</a>
		</div>
	</div>

</form>

