@model MovieViewModelForInsertion

<div class="text-center">
	<div class="display-6">Create</div>
</div>

<form method="post" asp-action="Create" enctype="multipart/form-data">
	@* enctype="multipart/form-data" *@
	@*dosyayi formla beraber post etmek icin enctype kullanılır*@
	<div class="row">
		<div class="col-md-4">
			<div class="form-group my-3">
				<label>Select Actors:</label>
				<select asp-for="SelectedActorIds" class="form-control" asp-items="@(new SelectList(Model.Actors, "Id", "FullName"))" multiple></select>
				<a class="btn btn-primary btn-sm my-2" asp-controller="Actors" asp-action="Create">Create Actor</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group my-3">
				<label asp-for="DirectorId" class="control-label">Director:</label>
				<select asp-for="DirectorId" class="form-control" asp-items="ViewBag.DirectorId"></select>
				<a class="btn btn-primary btn-sm my-2" asp-controller="Directors" asp-action="Create">Create Director</a>
			</div>

		</div>
		<div class="col-md-8">
			<div class="text-danger" asp-validation-summary="All"></div>

			@* <select asp-for="ActorIds" asp-items="ViewBag.Actors" class="form-control" multiple></select> *@

			<div class="form-group my-3">
				<label asp-for="OriginalTitle"></label>
				<input asp-for="OriginalTitle" class="form-control" />
			</div>

			<div class="form-group my-3">
				<label asp-for="Score"></label>
				<input asp-for="Score" class="form-control" />
			</div>

			<div class="form-group my-3">
				<label asp-for="ReleaseDate"></label>
				<input asp-for="ReleaseDate" class="form-control" />
			</div>
			<div class="form-group my-3">
				<label asp-for="Plot"></label>
				<input asp-for="Plot" class="form-control" />
			</div>

			<div class="form-group my-3">
				<label asp-for="PosterPath"></label>
				<input type="file" name="file" class="form-control" />
			</div>

			<div class="form-group my-3">
				<div class="btn-group">
					<button class="btn btn-primary" type="submit">
						<i class="fa-regular fa-floppy-disk"></i>
						Save
					</button>

					<a class="btn btn-outline-primary" asp-controller="Movies" asp-action="Index">
						<i class="fa fa-list"></i>
						Movies
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="bg-white p-4">
				<h4>Genres</h4>
				<hr />
				@foreach (var genre in ViewBag.Genres)
				{
					<div class="form-check">
						<input class="form-check-input"
							   name="genreIds"
							   type="checkbox"
							   value="@genre.Id"
							   id="genre_@genre.Id" />
						@* @(Model.SelectedGenreIds != null && Model.SelectedGenreIds.Contains(genre.Id) ? "checked" : "")> *@
						<label class="form-check-label" for="genre_@genre.Id">
							@genre.Name
						</label>
					</div>
				}
				<a class="btn btn-primary btn-sm my-2" asp-controller="Genres" asp-action="Create">Create Genre</a>
			</div>
		</div>

	</div>


</form>

