@model IEnumerable<MovieCardModel>

@section styles {
	<link rel="stylesheet" href="~/css/MovieCard.css" />
	<link rel="stylesheet" href="~/css/DarkMode.css" />
}

<div class="row">
	<div class="col-md-2">
		@* <vc:genre-menu></vc:genre-menu> *@
		@* <vc:movie-filter-menu></vc:movie-filter-menu> *@
		@await Component.InvokeAsync("GenreMenu")
		@await Component.InvokeAsync("MovieFilterMenu")
		<div movies number="5"></div>
	</div>

	<div class="col-md-10">
		<div class="row my-3">
			@foreach (var movie in Model)
			{
				<div class="col-md-6 col-lg-4 d-flex">
					<partial name="_MovieCard" model="@movie" />
					@* @Html.PartialAsync("_MovieCard", movie) *@
				</div>
			}
		</div>
	</div>
</div>

@* @section Footer {
	<div>
		Footer Section
	</div>
} *@